hr.space-line {
    margin: 20px 0 15px;
}

label.designr-control-title {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.toggle-flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
}

.toggle-flex .flex-inner-wide {
    padding-left: 10px;
}

.slide-detail-wrap > h4 {
    background: #fafafa;
    padding: 10px 10px 10px 15px;
    border-left: 5px solid #2195f3;
}